$footer-background-color: #a2dbdb !default

.footer
  background-color: $footer-background-color
  padding: 3rem 1rem 0 1rem
  background-size: 100%
  background-blend-mode: lighten

.footer-brand
  width: 13em