[class*=" socicon-"]
    border-radius: 50px
    padding: 30px
    color:#fff
    font-size: 2rem

.socicon-facebook
     background-color: #7b7bff
.socicon-twitter
     background-color: #09e8ff
.socicon-instagram
     background-color: #fd8620
.socicon-linkedin
     background-color: #2027fd
.socicon-youtube
     background-color: red
.socicon-snapchat
     background-color: #f1f12c
.socicon-googleplus
     background-color: #ff7b7b
.socicon-pinterest
     background-color: red
.socicon-blogger
     background-color: brown
