<template>
<form class="section box" style="position:relative" @submit.prevent="post" enctype="multipart/form-data">

<div class="loading-event" v-if="uploading">
      <progress  class="progress is-primary"  :value="progress" max="100">{{ progress }}%</progress>
</div>
     <h3 class="title is-3">Life Events</h3>

     <div class="field">
          <p class="control">
               <label class="label">title</label>
               <input class="input " :class="{'is-danger' : $errors.has('title')  }" type="title" name="title" v-model="title">
          </p>
          <errors input="title"></errors>
     </div>
     <div class="field is-horizontal ">
          <div class="field-body ">
               <div class="field ">
                    <label class="label ">Place</label>
                    <p class="control is-expanded ">
                         <vue-google-autocomplete
    id="map"
    classname="input"
    placeholder="Start typing"
    @placechanged="getAddressData"
>
</vue-google-autocomplete>
                    </p>

                    <div class="place-details">
                         <input name="lat" v-model="lat" type="hidden" >
                         <input name="lng" v-model="lng" type="hidden">
                         <input name="formatted_address" type="hidden">
                    </div>

                   <errors input="place"></errors>

               </div>
               <div class="field">
                    <label class="label">Date</label>
                    <p class="control is-expanded">
                         <input class="input" :class="{'is-danger' : $errors.has('date')  }" type="date" name="date" v-model="date">
                    </p>
                   <errors input="date"></errors>
               </div>
          </div>
     </div>
     <div class="field is-horizontal">
          <div class="field-body">
               <div class="field">
                    <label class="label">People in Event ( type @ ) first</label>

                    <p class="control is-expanded">
                         <input class="input people" :class="{'is-danger' : $errors.has('people')  }" type="text" name="people" autocomplete="off"
                               v-model="people">
                    </p>

                   <errors input="people"></errors>

               </div>
               <div class="field">
                    <label class="label">Uploads</label>
                    <div class="field">
                         <div class="file ">
                              <label class="file-label">
                                   <input class="file-input" type="file" name="attachment" ref="upload">
                                   <span class="file-cta">
                                        <span class="file-label">
                                             Media
                                        </span>
                                   </span>
                              </label>
                         </div>
                         
                    </div>
               </div>
          </div>
     </div>

     <div class="field">
          <label class="label">Message</label>
          <p class="control is-expanded">
               <textarea cols="30" rows="10" class="textarea" :class="{'is-danger' : $errors.has('msg')  }"  v-model="msg" name="msg"></textarea>
          </p>
          <errors input="msg"></errors>
     </div>
     <button class="button is-success" type="submit" :class="{'is-loading' : loading}">Add Event</button>
</form>

</template>
<script>
import Resumable from "./../resumable";
import VueGoogleAutocomplete from "vue-google-autocomplete";
import "jquery.caret";
import atwho from "at.js";
var toBlob = require("canvas-to-blob");

export default {
  data() {
    return {
      supportedFiles: [
        "mp4",
        "webm",
        "ogg",
        "ogv",
        "mov",
        "mpeg4",
        "jpg",
        "png",
        "gif",
        "jpeg"
      ],
      uploader: null,
      loading: false,
      media: null,
      title: "",
      lat: "",
      lng: "",
      place: "",
      people: "",
      date: null,
      msg: "",
      canvas: null
    };
  },
  computed: {
    progress() {
      if (this.media) {
        return this.media.progress() * 100;
      }

      return 0;
    },
    uploading() {
      return this.uploader
        ? this.uploader.isUploading() || this.loading
        : false;
    }
  },
  methods: {
    getAddressData({ latitude, longitude, route }) {
      this.lat = latitude;
      this.lng = longitude;
      this.place = route;
    },
    loadThumb() {
      var v = document.createElement("video");

      v.src = URL.createObjectURL(this.media.file);
      v.autoplay = true;
      v.muted = true;
      v.currentTime = 2;

      var canvas = document.createElement("canvas");
      canvas.width = 250;
      canvas.height = 250;

      setTimeout(() => {
        canvas.getContext("2d").drawImage(v, 0, 0, 250, 250);

        this.canvas = canvas;

        v.remove();
      }, 1000);
    },
    post() {
      this.loading = true;
      let query = {
        title: this.title,
        lat: this.lat,
        lng: this.lng,
        place: this.place,
        date: this.date,

        people: this.people,
        msg: this.msg
      };

      $.ajax({
        url: "/event/validate",
        type: "post",
        data: query,
        headers: {
          "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content")
        },
        dataType: "json",
        success: () => {
          this.$errors.flush();
          this.uploader.upload();
        },
        error: m => {
          this.loading = false;
          this.$errors.fill(m.responseJSON.errors);
        }
      });
    }
  },
  mounted() {
    $(".people").atwho({
      at: "@",
      delay: 500,
      limit: 7,
      startWithSpace: false,
      callbacks: {
        remoteFilter: function(query, callback) {
          $.getJSON(
            "/users",
            {
              name: query
            },
            function(data) {
              callback(data);
            }
          );
        }
      }
    });

    $(".people").on("inserted.atwho", () => {
      this.people = $(".people").val();
    });

    this.uploader = new Resumable({
      target: "/event",
      maxFiles: 1,
      fileType: this.supportedFiles,
      fileTypeErrorCallback: () => this.fileWrong(),
      headers: {
        "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content")
      }
    });
    this.uploader.assignBrowse(this.$refs.upload);

    this.uploader.on("fileAdded", file => {
      this.media = file;
      this.loadThumb();
    });

    this.uploader.on("fileSuccess", (file, message) => {
      let form = new FormData();
      form.append("thumb", toBlob(this.canvas.toDataURL()));
      form.append("lat", this.lat);
      form.append("lng", this.lng);
      form.append("place", this.place);
      form.append("date", this.date);
      form.append("people", this.people);
      form.append("msg", this.msg);
      form.append("title", this.title);
      form.append("attachment", JSON.parse(message).name);
      $.ajax({
        url: "/event/save",
        type: "post",
        data: form,
        processData: false,
        contentType: false,
        headers: {
          "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content")
        },
        success: () => {
          swal("Done!", "Event Has Been Added", "success");

          setTimeout(() => {
            //window.location.reload(true);
          }, 2000);
        }
      });
    });
  },
  components: {
    VueGoogleAutocomplete
  }
};
</script>

<style>
.loading-event {
  position: absolute;
  height: 88%;
  width: 96%;
  background: #0006;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-event .progress {
  width: 50%;
}
</style>
