<template>
     <form ref="form" method="post" action="/delete/user" class="box has-text-centered">

          <h3 class="title is-3">Delete Account</h3>

          <input name="_token" type="hidden" :value="csrf">
          
          <button class="is-danger button" @click.prevent="action">Delete Account</button>

     </form>
</template>

<script>
export default {
  computed: {
    csrf() {
      return $('meta[name="csrf-token"]').attr("content");
    }
  },
  methods: {
    action() {
      swal({
        title: "Are you sure?",
        text: "You can restore your account by just login in 3 days from now ",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          this.$refs.form.submit();
        }
      });
    }
  }
};
</script>
