
<template>
<croppa class=" profile-cover" :placeholder="coverPlaceHolder" v-model="cover" @file-choose="removeIntialCover" auto-sizing :prevent-white-space="true" :accept="'image/*'" :initial-image="initialCover" :disabled="disabled" :disable-click-to-choose="disabled" :disable-drag-and-drop="disabled"
  :disable-drag-to-move="disabled" :disable-scroll-to-zoom="disabled" :disable-pinch-to-zoom="disabled" :disable-rotation="disabled">
  <button class="button cover-save" :class="coverLoading ? 'is-loading' : ''" @click="uploadCover" v-if="showSaveCover && !profile.cover">Save</button>
  <croppa class="profile-avatar" :placeholder="avatarPlaceHolder" v-model="avatar" @file-choose="removeIntialAvatar" :prevent-white-space="disabled" :accept="'image/*'" :width="140" :height="144" :initial-image="initialAvatar" :disabled="disabled" :disable-click-to-choose="disabled" :disable-drag-and-drop="disabled"
    :disable-drag-to-move="disabled" :disable-scroll-to-zoom="disabled" :disable-pinch-to-zoom="disabled" :disable-rotation="disabled">
    <button class="button avatar-save" :class="avatarLoading ? 'is-loading' : ''" @click="uploadAvatar" v-if="showSaveAvatar && !profile.avatar">Save</button>
  </croppa>

</croppa>
</template>

<script>
import croppaMix from "../croppaMixin";

export default {
  props: ["user", "d"],
  mixins: [croppaMix],
  data() {
    return {
      profile: this.user
    };
  },
  computed: {
    disabled() {
      return this.d == 1 ? true : false;
    },
    coverPlaceHolder() {
      return this.disabled ? "" : "Choose Cover Photo";
    },
    avatarPlaceHolder() {
      return this.disabled ? "" : "Choose an Avatar";
    }
  },
  methods: {
    getUrl() {
      return "/profile/change/";
    }
  }
};
</script>

<style>
#profile-header {
  margin-bottom: 10rem;
  z-index: 999;
  position: relative;
  margin-top: 0.5rem;
}

.icon.icon-remove {
  position: absolute;
}

.cover-save {
  position: absolute;
  right: 3%;
  top: 10%;
}

.avatar-save {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  bottom: -55px;
}

.profile-cover {
  position: relative;
  height: 500px;
  background-color: white;
  border-bottom: 3px solid #e1e1e1;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -80px;
  width: 150px;
  height: 150px;
  border: 3px solid #ccc;
  border-radius: 50%;
  background: white;
  margin: 0 auto;
  left: 0;
  right: 0;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.profile-avatar canvas {
  border-radius: 500px;
}
</style>
