<template>
<div class="card">
   <div class="card-content">
  <div class="name field has-addons">

    <div class="control">
      <input class="input" v-model="profile.name" type="text" placeholder="name">

    </div>
    <div class="control">
      <button @click="changeName" type="submit" class="button is-primary">
                                        change
                                   </button>
    </div>

  </div>
  <div class="crop-container">
    <croppa class=" profile-cover" v-model="cover" @file-choose="removeIntialCover" auto-sizing :prevent-white-space="true" :accept="'image/*'" :initial-image="initialCover">
      <button class="button cover-save" @click="uploadCover" v-if="showSaveCover && !profile.cover">Save</button>
      <croppa class="profile-avatar" v-model="avatar" @file-choose="removeIntialAvatar" :prevent-white-space="true" :accept="'image/*'" :width="140" :height="144" :initial-image="initialAvatar">
        <button class="button avatar-save" @click="uploadAvatar" v-if="showSaveAvatar && !profile.avatar">Save</button>
      </croppa>
    </croppa>
  </div>
  <hr>


  <div class="columns">

    <div class="column">

      <figure class="image is-2by1">
        <img :src="videoThumb">
      </figure>
    </div>
  </div>
  <div class="columns">

    <div class="column">

          <div class="column">
      <progress  class="progress is-primary" v-if="uploading" :value="progress" max="100">{{ progress }}%</progress>


      <p class="control">
        <button class="button" ref="uploadVideo" v-if="!uploading">Select Video</button>
      </p>
      <br>
      <p class="control">
        <button class="button" @click="uploadVideo" v-if="hasNewFile && !uploading">Upload</button>
      </p>
    </div>
    </div>
  </div>

  <div class="columns">
  <div class="column">
    <hr>
      <div class="field">
  <p class="control">
    <input class="input" type="email" placeholder="email address" v-model="profile.email">
  </p>
</div>
      <div class="field">
  <p class="control">
    <input class="input" placeholder="Date Of Birth" type="date"  v-model="profile.birthday">
  </p>
</div>
<div class="field">
    <p class="control" >
    <a class="button is-info" @click="saveDetails">
      Save
    </a>
  </p>
</div>

  </div>
</div>

   </div>

   <div class="card-footer">
    <a :href="'/user/' + profile.id" class="card-footer-item">
      <span>
        View Profile
      </span>
    </a>
   </div>
</div>
</template>

<script>
import Resumable from "./../resumable";
import croppaMix from "../croppaMixin";
var toBlob = require("canvas-to-blob");

export default {
  props: ["data"],
  mixins: [croppaMix],
  data() {
    return {
      profile: this.data,
      canvas: null,
      video: null,
      uploader: null,
            supportedFiles: [
        "mp4",
        "webm",
        "ogg",
        "ogv",
        "mov",
        "mpeg4",
        "jpg",
        "png",
        "gif",
        "jpeg"
      ],
    };
  },
  computed: {
    progress() {
      if (this.video) {
        return this.video.progress() * 100;
      }

      return 0;
    },
    uploading() {
      return this.uploader ? this.uploader.isUploading() : false;
    },
    hasNewFile() {
      return this.video != null;
    },
    videoThumb() {
      if (this.canvas) {
        return this.canvas.toDataURL();
      }

      if (this.profile.thumb) {
        return this.profile.thumb;
      }

      return "https://bulma.io/images/placeholders/128x128.png";
    }
  },

  methods: {
    changeType(e) {
      $(e.target).attr("type", "date");

      setTimeout(() => {
        $(e.target).click();
      }, 2);
    },
    getUrl() {
      return `/recievers/${this.profile.id}/`;
    },
    fileWrong() {
      var files = this.supportedFiles.join(",");
      swal(
        "Wrong file!",
        `Please Select File In Supported Formats! : ${files}`,
        "error"
      );
    },
    changeName() {
      let form = new FormData();
      form.append("name", this.profile.name);
      $.ajax({
        type: "POST",
        url: this.getUrl() + "name",
        data: form,
        processData: false,
        contentType: false,
        headers: {
          "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content")
        }
      }).done(() => {
        swal("Changed!", "Name Changed Successfully!", "success");
      });
    },
    saveDetails() {
      let form = new FormData();
      form.append("email", this.profile.email);
      form.append("birthday", this.profile.birthday);
      $.ajax({
        type: "POST",
        url: this.getUrl() + "details",
        data: form,
        processData: false,
        contentType: false,
        headers: {
          "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content")
        }
      }).done(() => {
        swal("Changed!", "Details Changed Successfully!", "success");
      });
    },
    uploadVideo() {
      this.video.upload();
    },
    loadThumb() {
      var v = document.createElement("video");

      v.src = URL.createObjectURL(this.video.file);
      v.autoplay = true;
      v.muted = true;
      v.currentTime = 2;

      var canvas = document.createElement("canvas");
      canvas.width = 250;
      canvas.height = 250;

      setTimeout(() => {
        canvas.getContext("2d").drawImage(v, 0, 0, 250, 250);

        this.canvas = canvas;

        v.remove();
      }, 1000);
    }
  },
  mounted() {
    this.uploader = new Resumable({
      target: "/recievers/video/upload",
      fileType: this.supportedFiles,
      fileTypeErrorCallback: () => this.fileWrong(),
      query: {
        id: this.profile.id
      },
      headers: {
        "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content")
      }
    });
    this.uploader.assignBrowse(this.$refs.uploadVideo);

    this.uploader.on("fileAdded", file => {
      this.video = file;
      this.loadThumb();
    });

    this.uploader.on("complete", () => {
      swal("Done!", "Video Has Been Updated", "success");

      let form = new FormData();
      form.append("thumb", toBlob(this.canvas.toDataURL()));
      form.append("id", this.profile.id);
      $.ajax({
        type: "POST",
        url: this.getUrl() + "thumb",
        data: form,
        processData: false,
        contentType: false,
        headers: {
          "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content")
        }
      });
    });

    setTimeout(() => {
      this.$forceUpdate();
    }, 2000);
  }
};
</script>

<style>
.box {
  position: relative;
}

.crop-container {
  margin-bottom: 105px;
}

.icon.icon-remove {
  position: absolute;
}

.cover-save {
  position: absolute;
  right: 3%;
  top: 10%;
}

.avatar-save {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  bottom: -55px;
}

.profile-cover {
  position: relative;
  height: 200px;
  margin: -20px;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -50px;
  width: 100px;
  height: 100px;
  border: 3px solid #ccc;
  border-radius: 50%;
  background: white;
  margin: 0 auto;
  left: 0;
  right: 0;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.profile-avatar canvas {
  border-radius: 500px;
}

.name {
  position: absolute;
  top: -15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  z-index: 999;
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
}

p.subtitle {
  padding-top: 1rem;
}
</style>
