<template>
<div>
     <div class="columns" v-for="(group , index) in profiles" :key="index">

          <div class="column" v-for="(profile , index) in group" :key="index">
               <Profile :data="profile"></Profile>
          </div>
     </div>
</div>
</template>

<script>
import Profile from "./Profile.vue";

export default {
  props: ["data"],

  data() {
    return {
      profiles: []
    };
  },
  methods: {
    chunk(arr, len) {
      var chunks = [],
        i = 0,
        n = arr.length;

      while (i < n) {
        chunks.push(arr.slice(i, (i += len)));
      }

      return chunks;
    }
  },

  created() {
    this.profiles = this.chunk(this.data, 3);
  },
  components: { Profile }
};
</script>

<style>

</style>
