
@charset "utf-8"
/*! bulma.io v0.6.2 | MIT License | github.com/jgthms/bulma */

@import "utilities/_all"


$primary: #a2dbdb;

$family-sans-serif: 'Raleway', sans-serif;

$family-primary: $family-sans-serif;



@import "base/_all"
@import "elements/_all"
@import "components/_all"
@import "grid/_all"
@import "layout/_all"


+mobile
  .main-footer
     background-image: none !important

.is-color-blue
     color: #17179c !important

.flex-all-center
     display: flex
     align-content: center
     justify-content: center

